body {
  font-family: sans-serif;
  background-color: #00004C;
  color: #FFF;
}
form {
  color: #000;
}
input {
  border-radius: 3px;
  padding: 5px;
  margin: 5px;
}
/*research css animations: desk with book. search bar at top*/
/*search results fill in on a page*/
